<article class="input-container">
  <input class="input" type="text" placeholder="{{placeholder}}"
         [(ngModel)]="value">
  <button class="input-btn"
          (click)="createItem()">{{add}}
  </button>
</article>
